//
   Created by baungo on 2016/11/1.
html
    head
        meta(charset='UTF-8')
        title HDO 编辑器
        link(rel='stylesheet' type='text/css' href='/stylesheets/font-awesome-4.7.0/css/font-awesome.css')
        link(rel='stylesheet' type='text/css' href='/stylesheets/ide.css')
        script(src='/javascripts/jquery-3.1.1.min.js' type='' charset='utf-8')
        script(src='/javascripts/markdown.min.js' type='' charset='utf-8')
    body
        #ide
            #header
            #main
                #left-wrap
                .resize-bar
                #middle-wrap
                    #middle-title index.html
                    #ide-editor
                        #editor(contenteditable='true' spellcheck='false')
                        #preview
                .resider-bar
                #right-wrap
                    #pan-group
                        .pan 文件属性
                        .pan 选项
             #footer

